._wrapper_jqkv8_1 {
  position: relative;
  background-color: var(--color-bg-1);
  height: calc(100vh - 168px);
}
._result_jqkv8_6 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/*********** font ***********/
/*********** red ***********/
/*********** orangered ***********/
/*********** orange ***********/
/*********** gold ***********/
/*********** yellow ***********/
/*********** lime ***********/
/*********** green ***********/
/*********** cyan ***********/
/*********** blue ***********/
/*********** arcoblue ***********/
/*********** purple ***********/
/*********** pinkpurple ***********/
/*********** magenta ***********/
/*********** gray ***********/
/*********** dark ***********/
/*********** primary ***********/
/*********** success ***********/
/*********** danger ***********/
/*********** warning ***********/
/*********** link ***********/
/*********** border ***********/
/*********** shadow ***********/
/*********** size ***********/
/*********** spacing ***********/
/*********** color ***********/
/*********** shadow1 ***********/
/*********** shadow2 ***********/
/*********** shadow3 ***********/
/*********** opacity ***********/
/*********** radius ***********/
/*********** mask ***********/
/*********** icon ***********/
/*********** prefix ***********/
/*********** arco ***********/
/*********** code ***********/
/*********** transition ***********/
/*********** z ***********/
/*********** line ***********/
/*********** popup ***********/
/*********** picker ***********/
/*********** affix ***********/
/*********** alert ***********/
/*********** anchor ***********/
/*********** auto ***********/
/*********** select ***********/
/*********** avatar ***********/
/*********** backtop ***********/
/*********** badge ***********/
/*********** breadcrumb ***********/
/*********** btn ***********/
/*********** calendar ***********/
/*********** card ***********/
/*********** carousel ***********/
/*********** cascader ***********/
/*********** input ***********/
/*********** checkbox ***********/
/*********** collapse ***********/
/*********** comment ***********/
/*********** timepicker ***********/
/*********** date ***********/
/*********** time ***********/
/*********** datepicker ***********/
/*********** month ***********/
/*********** quarter ***********/
/*********** year ***********/
/*********** week ***********/
/*********** range ***********/
/*********** descriptions ***********/
/*********** divider ***********/
/*********** drawer ***********/
/*********** dropdown ***********/
/*********** empty ***********/
/*********** form ***********/
/*********** row ***********/
/*********** col ***********/
/*********** image ***********/
/*********** preview ***********/
/*********** textarea ***********/
/*********** search ***********/
/*********** password ***********/
/*********** layout ***********/
/*********** list ***********/
/*********** mentions ***********/
/*********** menu ***********/
/*********** message ***********/
/*********** modal ***********/
/*********** notification ***********/
/*********** page ***********/
/*********** pagination ***********/
/*********** patination ***********/
/*********** popconfirm ***********/
/*********** popover ***********/
/*********** progress ***********/
/*********** radio ***********/
/*********** rate ***********/
/*********** prefixCls ***********/
/*********** resizeBox ***********/
/*********** resizebox ***********/
/*********** result ***********/
/*********** skeleton ***********/
/*********** slider ***********/
/*********** space ***********/
/*********** spin ***********/
/*********** statistic ***********/
/*********** steps ***********/
/*********** switch ***********/
/*********** table ***********/
/*********** tabs ***********/
/*********** sizes ***********/
/*********** tag ***********/
/*********** colors ***********/
/*********** timeline ***********/
/*********** tooltip ***********/
/*********** transfer ***********/
/*********** tree ***********/
/*********** trigger ***********/
/*********** typography ***********/
/*********** upload ***********/
